:root {
    --ff1: 'Twinkle Star', cursive;
    --ff2: 'Zilla Slab', serif;

    --c1: #D90416;
    --c2: #73020C;
    --c3: white;
    --c4: #BF6E50;
    --c5: #402421;

    --border:.1rem solid white
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--c3);
    border-radius: 5rem;
}

body {
    background: var(--border);
}

.header {
    background: var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo {
    font-size: 3rem;
    font-family: var(--ff1);
    color: var(--c4);
}

.header .navBar a {
    margin: 2rem;
    font-size: 2rem;
    font-family: var(--ff2);
    color: var(--c5);
}

.header .navBar a:hover {
    color:  var(--c1);
    border-top: 0.4rem solid var(--c1);
    border-bottom: 0.4rem solid var(--c1);
    padding: 0.5rem;
    font-weight: bolder;
}

.header .icons i{
    margin: 2rem;
    font-size: 2rem;
    color: var(--c5);
    cursor: pointer;
}

















.nav-social a i{
    cursor: pointer;
    font-size: 2rem;
    margin: 1rem;
    color: var(--c4);
}

.nav-social a i:hover{
    cursor: pointer;
    font-size: 2rem;
    margin: 1rem;
    color: var(--c4);
    transition-duration: .7s;
    transform: rotate(360deg) scale(1.5);
}




/*


 <div class="nav-social">

            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>

        </div>


*/